body,
html {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    color: #bac0c9;
    background-color: #151b23;
    border-color: #3d444d;

    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #bac0c9;
}

nav {
    display: flex;
    flex-direction: row;

    height: 3em;
    align-items: center;

    padding: 0em 1em;

    backend-status {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .divider {
        margin-left: auto;
    }

    .logout {
        background-color: #212830;
        border-radius: 0.5em;
        border: 0.05rem solid;
        padding: 0.5em 1em;
    }
}

main {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.prs {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.pr {
    background-color: #212830;
    border-radius: 0.5em;
    border: 0.05rem solid;

    padding: 0.25em 1em;
    padding-bottom: 1em;

    h2 {
        font-size: medium;
        margin-bottom: 0;
    }

    min-height: 10em;

    display: flex;
    flex-direction: column;
    gap: 0;

    position: relative;

    .pr-link {
        margin-top: 0;
        font-size: small;
        margin-bottom: 1em;
    }
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;

    .avatar {
        height: 1em;
        aspect-ratio: 1/1;
        vertical-align: middle;
        display: inline-block;
    }
}

.fields {
    margin-top: auto;
    margin-bottom: 1em;

    .field {
        font-size: small;

        display: flex;
        flex-direction: row;
        width: 100%;

        .value {
            margin-left: auto;
        }
    }
}

.badges {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: x-small;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    gap: 0.5em;

    .ci-status {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 1em;

        &.good {
            color: #347d39;
            font-size: medium;
        }

        &.progress {
            color: #c69026;
            font-size: medium;
        }

        &.bad {
            color: #c93c37;
            font-size: medium;
        }
    }

    .status-badge {
        background: rgba(247, 225, 1, 0.18);
        border-color: rgb(244, 219, 1);
        color: rgb(244, 219, 1);
        border: 0.005rem solid;

        padding: 0.2em 0.5em;
        border-radius: 0.8em;

        display: flex;
        align-items: center;

        line-height: 1em;
    }
}

.home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login {
        background-color: #212830;
        border-radius: 0.5em;
        border: 0.05rem solid;
        padding: 2em;

        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                border-radius: 0.5em;
                padding: 0.5em 1em;
                background: #347d39;
            }
        }
    }
}
